@import './normalize.scss';
@import './font.scss';
@import './color.scss';
@import './global.scss';
@import './size.scss';
@import './typo.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: SpocaHanSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: #212329;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.04em;
}

div.title {
  font-family: Montserrat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
