// $space: 20px;

// .no-scrollbar {
//   scrollbar-width: none;
//   margin-bottom: 0;
//   padding-bottom: 0;

//   &::-webkit-scrollbar {
//     display: none;
//   }
// }

// .list {
//   display: grid;
//   grid-gap: $space / 2;
//   grid-template-columns: 10px;
//   grid-template-rows: minmax(150px, 1fr);
//   grid-auto-flow: column;
//   grid-auto-columns: calc(50% - $space * 2);

//   overflow-x: scroll;
//   scroll-snap-type: x proximity;
//   padding-bottom: 0.75 * $space;
//   margin-bottom: -0.25 * $space;

//   &::before,
//   &::after {
//     content: '';
//     width: 10px;
//   }

//   &-item {
//     scroll-snap-align: center;
//     padding: $space / 2 * 1.5;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
// }

::-webkit-scrollbar{
    display: none;
}

.icon1-after::after {
    content: '';
    display: inline-block;
    background: url('img-main-bubble.png') no-repeat;
    width: 156px;
    height: 156px;
    z-index: -1;
    position: absolute;
    top: 32px;
    right: 15px;
}
  
.icon2-after::after {
    content: '';
    display: inline-block;
    background: url('group.png') no-repeat;
    width: 130px;
    height: 159px;
    z-index: -1;
    position: absolute;
}

.icon3-after::after {
    content: '';
    display: inline-block;
    background: url('group-78.png') no-repeat;
    width: 93px;
    height: 156px;
    z-index: -1;
    position: relative;
}